kick/18B_B/B_test.cpp
kick/A (2).o
kick/A (2).exe
kick/A-large.in
kick/A_correct.out
kick/B.exe
kick/B.o
kick/B (2).cpp
kick/B-large-practice.in
kick/B-s.out
kick/B-small-practice.in
kick/B..out
kick/B_std2.out
kick/b.out
kick/b_std.cpp
kick/b_std.exe
kick/tempCodeRunnerFile.cpp
kick/18B_B/17A_B.o
kick/18B_B/B.out
kick/18B_B/B-large-practice.in
kick/18B_B/B-small-practice.in
kick/18B_B/B_l_test.out
kick/18B_B/B_s.out
kick/18B_B/B_t.out
kick/18B_B/B_test.cpp
kick/18B_B/a.exe
kick/18B_B/adsf.out
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
17e_a/17e_a.cbp
17e_a/17e_a.depend
17e_a/17e_a.exe
17e_a/17e_a.layout
17e_a/A-large-practice.in
17e_a/main.o
kick/A.exe
kick/A.o
kick/A.out
kick/A (2).cpp
a.exe
kick/A-large-practice.in
kick/a_std.exe
